:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.list{
  border: rgb(88, 37, 37) solid;
  border-radius: 40px;
  margin: 10px;
  line-height: 1.1;
  list-style: none;
}

.App2 {
  position: relative;
  top: 1px;
  font-size: 3.2em;
  line-height: 1.1;
}


